<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join</title>
  </head>
  <body>
    <h1>회원가입</h1>
    <hr />
    <form action="/join" method="post" onsubmit="return checkForm()">
      <input
        type="text"
        name="username"
        id="username"
        placeholder="Input UserName......"
        required
      />
      <div class="check-id-wrap">
        <p id="notice_p"></p>
        <button type="button" onclick="check_id(event)">중복확인</button>
      </div>
      <input
        type="password"
        name="password"
        placeholder="Input Password......"
        required
      />
      <br />
      <input type="text" name="name" placeholder="Input Name......" required />
      <br />

      <p id="notice_p2"></p>
      <input type="submit" value="가입하기" />
      <p th:if="${msg != null}" th:text="${msg}"></p>
    </form>
    <p>이미 가입하셨다면? >> <a href="/loginPg">로그인</a></p>

    <script>
      const notice_p = document.getElementById("notice_p");
      const notice_p2 = document.getElementById("notice_p2");

      let check = false;
      let join_check = false;

      function check_id() {
        const username = document.getElementById("username").value;

        fetch("/join/checkId", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
          },
          body: `username=${encodeURIComponent(username)}`,
        })
          .then((response) => {
            if (!response.ok) {
              return response.json().then((data) => {
                throw data;
              });
            }
            return response.json();
          })
          .then((data) => {
            notice_p.innerText = data.msg;
            check = true;
            join_check = true;
          })
          .catch((error) => {
            notice_p.innerText = error.msg;
          });
      }

      function checkForm() {
        if (!check) {
          notice_p2.innerText = "아이디 중복검사를 시행하세요";
          return false;
        }
        if (!join_check) {
          notice_p2.innerText = "아이디 중복검사 결과를 확인하세요";
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>
