<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
  </head>
  <body>
    <div th:replace="fragments/header :: headerFragment"></div>
    <h1>로그인</h1>
    <hr />
    <section id="login">
      <form action="/login" method="post">
        <input
          type="text"
          name="username"
          placeholder="Input UserName......"
          required
        />
        <br />
        <input
          type="password"
          name="password"
          placeholder="Input Password......"
          required
        />
        <br />
        <input type="submit" value="로그인" />
        <p th:if="${msg != null}" th:text="${msg}"></p>
      </form>

      <p>아직 회원이 아니라면? >> <a href="/joinPg">회원가입</a></p>
    </section>
  </body>
</html>
